#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter,sans-serif;
}

.title {
  font-size:3.5em;
  animation: fadeIn 1s;
}

.pop-text {
  color: #5658dd;
}

.white-text {
  color: #ffffff;
}

.subtitle {
  font-size:1.5rem;
  color: #9ca9b3;
  animation: delayedFadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes delayedFadeIn {
  0% {opacity: 0}
  50% {opacity: 0;}
  100% {opacity: 1;}
}